* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media screen and (max-width:1920px) {
    header {
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;

    }

    #navigation {
        background-color: #1c1c1ceb;
        width: 85%;
        height: 60%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid rgba(128, 128, 128, 0.431);
    }

    #logoDiv {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #logoDiv h2 {
        color: white;
    }

    #navigation nav ul {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    #navigation nav ul li a {
        font-size: 1.5rem;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: white;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        text-decoration: none;
    }

    #navigation nav ul li a:hover {
        color: black;
        box-shadow: inset 200px 0 0 0 #caff33;
    }

    nav {
        width: 50%;
    }

    #registrationLinks {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    #registrationLinks a {
        color: white;
        text-decoration: none;
    }


    #registrationLinks button {
        width: 90px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background-color: #caff33;
        font-size: 1rem;
    }

    #Signup {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        gap: 45px;
    }

    #registrationBlock {

        width: 80%;
        height: 730px;
        background-color: #1a1a1a;
        background-image: url(./images/signup-background.jpg);
        background-size: cover;
    }

    #Background {
        width: 100%;
        height: 100%;
        background-color: #1a1a1add;

    }

    #background2 {
        width: 100%;
        height: 100%;
        background-image: url(./images/Abstract-Design.png);
        background-position: top right;
        background-repeat: no-repeat;
        border: 1px solid rgba(128, 128, 128, 0.112);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #signupHeader {
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #signupHeader h1 {
        color: #caff33;
        font-size: 3rem;
        font-weight: 600;
    }

    #signupHeader p {
        color: #bfbfbf;
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #form form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 50px;
    }

    form button {
        grid-column: 1 / 3;
        width: 400px;
        height: 55px;
        border-radius: 30px;
        background-color: #caff33;
        font-size: 1rem;
        border: none;
    }

    form input {
        width: 400px;
        height: 50px;
        background-color: #191919;
        border: 1px solid rgba(128, 128, 128, 0.124);
        border-radius: 25px;
        padding-left: 20px;
        color: grey;
        font-size: 1rem;
        outline: none;
    }


    #loginButton {
        width: 400px;
        height: 55px;
        border-radius: 30px;
        background-color: #262626;
        font-size: 1rem;
        border: none;
        color: white;
    }

    #continue-with {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #continue-with div {
        height: 0px;
        width: 110px;
        border: 1px solid grey;
    }

    #continue-with p {
        color: #b3b3b3;
    }

    #sub-account {
        height: 12%;
        display: flex;

    }

    #sub-accounts {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 80px;
    }

    #google,
    #facebook,
    #apple {
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #google button,
    #facebook button,
    #apple button {
        border-radius: 50%;
        width: 70%;
        height: 70%;
        border: none;
        background-color: #1C1C1C;
        box-shadow: 0px 0px 3px 0px #CAFF33;
        animation: spread 1.5s infinite alternate;
    }

    @keyframes spread {
        from {
            box-shadow: 0px 0px 3px 0px #CAFF33;
        }

        to {
            box-shadow: 0px 0px 20px 3px #CAFF33;

        }
    }


    #testimonials {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }

    #testimonials-header {
        width: 85%;
        display: flex;
        justify-content: space-around;
        gap: 340px;


    }


    #text {
        width: 815px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #individuals,
    #buisness {
        width: 155px;
        height: 50px;
        border-radius: 25px;
        border: none;
    }

    #burgerMenu {
        display: none;
    }

    #decision {
        display: flex;
        width: 270px;
        align-items: center;
    }

    #decision span {
        display: flex;
        align-items: center;
        border: 1px solid #80808038;
        border-radius: 62px;
        width: 100%;
        background-color: #1C1C1C;
        gap: 15px;
        justify-content: center;
        height: 70px;
    }


    #text h1 b {
        color: white;
    }

    #text h1 {
        color: #CAFF33;
    }

    #text p {
        color: #9f9f9f;
    }

    #reviews {
        display: flex;
        justify-content: center;
    }

    #review {
        border-top: 1px solid #80808073;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 40px;
        border-left: 1px solid #8080800d;
        border-right: 1px solid #8080800d;
        box-shadow: 0px 0px 10px #80808017;
        border-radius: 10px;
    }


    #reviews-child p {
        font-size: 1rem;
        color: #f7f7f799;
    }


    #reviews-child h3 {
        color: #CAFF33;
    }

    #reviews-child {
        display: none;
        gap: 70px;
        width: 85%;
        justify-content: center;
        height: 270px;
    }

    #article {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    #article div {
        border: 1px solid #80808042;
        width: 100px;
        height: 0;
    }

    footer {
        height: 400px;
        background-color: #1c1c1c;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    #nav {
        width: 75%;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        justify-content: center;
    }

    #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logo h2 {
        color: white;
    }

    #pages {
        width: 100%;
    }

    #pages ul {
        display: flex;
        gap: 45px;
        justify-content: center;
        list-style: none;
    }


    #pages ul li a {
        color: white;
        text-decoration: none;
    }

    .line {
        height: 0;
        width: 75%;
        border: 1px solid #80808021;
    }

    #contact {
        display: flex;
        gap: 45px;
    }

    #contact span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #contact span p {
        color: white;
    }

    #privacy {
        width: 75%;
        background-color: #191919;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #8080802b;
        border-radius: 15px;
    }

    #socials {
        display: flex;
        gap: 15px;
    }

    #facebook2,
    #tweet,
    #linkedin {
        width: 45px;
        height: 45px;
        background-color: #caff33;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: none;
    }


    #facebook2 {
        background-image: url(./images/facebook2.png);
    }

    #tweet {
        background-image: url(./images/tweet.png);
    }

    #linkedin {
        background-image: url(./images/linkedin.png);
    }

    #privacy {
        color: #f7f7f799;
    }

    #services {
        display: flex;
        gap: 10px;
    }

    #services div {
        border: 1px solid gray;
    }
}




@media screen and (max-width:1440px) {


    #logoDiv h2 {
        font-size: 1.3rem;
    }

    #signupHeader h1 {
        font-size: 2.3rem;
    }

    #navigation {
        width: 80%;
        height: 55%;
    }

    #navigation nav ul li a {
        font-size: 1.3rem;
    }

    #logo {
        width: 35px;
    }

    form input {
        width: 320px;
        height: 60px;
    }

    form button {
        width: 330px;
        height: 60px;
    }

    #loginButton {
        width: 330px;
        height: 60px;
    }

    #sub-accounts {
        gap: 45px;
    }
}

@media screen and (max-width:1024px) {

    #navigation nav ul li a {
        font-size: 1.1rem;
    }

    #signupHeader h1 {
        font-size: 2.3rem;
    }

    #signupHeader p {
        font-size: 0.9rem;
    }

    form input {
        width: 270px;
        height: 50px;
    }

    form button {
        width: 270px;
        height: 50px;
    }

    #loginButton {
        width: 270px;
        height: 50px;
    }

    #testimonials-header {
        gap: 60px;
    }

    #review:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width:900px) {

    nav,
    #registrationLinks {
        display: none;
    }

    #burgerMenu {
        display: inline;
        width: 55px;
        height: 40px;
        background-image: url(./images/burgerMenu.png);
        background-repeat: no-repeat;
        background-color: #caff33;
        border: none;
        background-position: center;
        border-radius: 15px;
    }



    #sidebar {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: flex-end;
        background-color: #1c1c1cbd;
    }

    #back {
        width: 40%;
        height: 100%;
        background-image: url(/src/components/regitsrations/images/signup-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #sidebar-temp {
        width: 100%;
        height: 100%;
        background-color: #191919c7;
        animation: sidebar 0.50s;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-image: url(../Source-images/Abstract\ Design-right.png);
        background-repeat: no-repeat;
    }

    #head {
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }

    #head button {
        background: transparent;
        border: none;
        width: 50px;

    }

    #head button img {
        width: 100%;
    }

    #body {
        height: 40%;
    }

    #body ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;
    }

    #body ul li a {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;

    }



    #registrationBlock {
        height: 90vh;
    }

    #signupHeader {
        width: 70%;
        text-align: center;
    }

    #form form {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    #privacy {
        flex-direction: column;
        height: 135px;
    }

    #pages ul {
        gap: 30px;
    }

    #contact {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    #location{
        grid-column: 1/3;
    }
}

@media screen and (max-width:425px) {
    #logoDiv h2{
        font-size: 1.2rem;
    }

    #signupHeader h1{
        font-size: 2rem;
    }

    #continue-with div{
        width: 80px;
    }


    #sub-accounts{
        gap: 25px;
    }
    #testimonials-header{
        flex-direction: column;
        align-items: center;
    }
    #text{
        width: 100%;
    }
    #review:nth-child(2){
        display: none;
    }
}